.graph-container {
	box-sizing: border-box;
	width: 90%;
	height: 550px;
	padding: 20px 15px 15px 15px;
	border: 1px solid #ddd;
	background: #fff;
	margin: 0px auto 0px auto;
}

#graph_save {
	position: relative;
	top: -20px;
}
